<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyek.tugasproyek">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Storage / media: untuk Android 13+ gunakan READ_MEDIA_IMAGES -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false"/>

    <!-- Optional camera feature -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugasproyek">

        <!-- Main Activity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".LoginActivity" android:exported="false" />

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" android:exported="false" />

        <!-- Meal Activity -->
        <activity android:name=".MealActivity" android:exported="false" />

        <!-- Profile Activity -->
        <activity android:name=".ProfileActivity" android:exported="false" />


        <!-- FileProvider untuk kamera/galeri -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
